@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,800;1,100&display=swap");
@import "./scss/fontawesome";




body {
    height: 100vh;
    margin: 0;
    font-family: "Poppins", arial;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

img {
    width: 100%;
}

.nav-container {
    background: #071A52;

    /* This is an embedded style. You can only do this is SASS */
    a {
        color: white;

        &:hover {
            color: #21FDF5;
        }
    }
}

header {
    display: flex;
    justify-content: space-between;
    padding: 2em;

    .logo {
        color: #A7FE83;
        font-weight: bold;
    }

    ul {
        display: flex;

        a {
            display: block;
            padding: 0 1em;
        }
    }
}


.social-header,
.hero-design {
    display: none;
}

.hero {
    background: #071A52;
    color: white;
    display: grid;
    text-align: center;
    padding: 4em;
}

.meet {
    display: flex;
    margin: 0;
    width: 200px;
    color: #A7FE83;

    span {
        margin-top: 1em;
        margin-right: 0.5em;
    }
}

.scroll {
    width: 30px;
    margin-top: 2em;
}

section {
    padding: 4em 2em;
    text-align: center;
}

/* If  position:relative is not included then the content created will 
be positioned next to its class */
.featured {
    position: relative;
}

/* This is how I including the cirlce behind the text */
.featured::before {
    content: "";
    position: absolute;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background: #A7FE83;
    top: 0;
    left: 0;
    z-index: -1;
}

.subtitle {
    text-transform: capitalize;
    font-weight: bold;
    color: #071A52;
    letter-spacing: 0.2em;
    font-size: 0.85em;
}

.featured-title {
    color: black;
    font-weight: bold;
    font-size: 1.3em;
    margin-top: -0.4em;
    display: block;
}

.featured-desc {
    color: #3b3b3b;
    margin-bottom: 3em;
    font-size: 0.9em;
    line-height: 1.8em;
    font-weight: 500;
}

.featured img {
    border-radius: 2em;
    margin-bottom: 2em;
}

.skills {
    background: #A7FE83;
}

.skills-container ul li {
    background: white;
    padding: 2em;
    border-radius: 1em;
    margin-bottom: 1em;

    .icon-container {
        height: 100px;
        display: grid;
        place-content: center;
        margin: 0 auto;

        &.one {
            width: 50px;
        }

        &.two {
            width: 100px;
        }

        &.three {
            width: 60px;
        }
    }
}

.skill-title {
    font-weight: bold;
}

.featured-desc {
    margin-bottom: 2em;
}

.portfolio {
    background: #f7f7f7;
}

.portfolio-container a img {
    border-radius: 1em;
    margin-bottom: 2em;
}

@media only screen and (min-width: 800px) {

    .featured,
    .portfolio {
        text-align: left;
    }

    .featured,
    .portfolio-container {
        display: grid;
        grid-template-columns: 30% auto;
    }

    .left,
    .portfolio-left {
        display: grid;
        place-content: center;
    }

    .right {
        margin-left: 2em;
        margin-top: 1em;
    }

    .skills {
        margin-top: -5em;
        margin-bottom: -7em;
        padding-top: 7em;
    }

    .skills-container ul {
        display: grid;
        grid-template-columns: repeat(3, auto);
        grid-gap: 1em;
    }

    .portfolio {
        padding-top: 7em;
    }

    .portfolio-container img {
        margin-left: 2em;
    }
}

@media only screen and (min-width: 1050px) {
    .hero {
        height: 90vh;
    }

    .nav-container {
        display: grid;
        grid-template-columns: 66% auto;
        background: unset;

        header {
            background: #071A52;
        }
    }

    header {
        padding: 2em 2em 2em 2em;
    }

    .portfolio-container {
        display: grid;
        grid-template-columns: 25% auto;
    }

    section {
        padding: 4em;
    }

    .social-header {
        padding: 2em 2em 2em 2em;
        display: block;

        ul {
            display: flex;
            justify-content: space-between;



            li .fab {
                color: #001947;
                font-size: 30px;

                &:hover {
                    color: #9603DC;
                }
            }
        }


    }

    .hero {
        display: grid;
        grid-template-columns: 66% auto;
        background: unset;
        padding: 0;

        .content {
            background: #071A52;
            padding: 6em 8em 6em 4em;
            text-align: left;

            h1 {
                font-size: 3em;
                line-height: 1.2em;
            }
        }
    }

    .meet {
        margin: unset;
    }

    .hero-design {
        display: unset;
        margin-left: -50%;
        margin-top: 15%;
        width: 100%;
    }

    .portfolio img {
        float: right;
        max-width: 500px;
    }
}

@media only screen and (min-width: 1250px) {
    header {
        padding: 2em 2em 2em 2em;
    }

    .portfolio-container {
        display: grid;
        grid-template-columns: 25% auto;
    }

    .social-header {
        padding: 2em 1em 5em 16em;
    }

    section {
        padding: 10em 10em 4em 10em;
    }

    .hero .content {
        padding: 6em 8em 6em 10em;
    }
}

@media only screen and (min-width: 1550px) {
    header {
        padding: 2em 2em 2em 2em;
    }

    .social-header {
        padding: 2em 2em 5em 20em;
    }

    section {
        padding: 6em 20em 4em 20em;
    }

    .hero .content {
        padding: 9em 20em 6em 20em;
    }
}


//Animations 

.circle {
    animation: circleAnim 1s infinite alternate-reverse;
}

@keyframes circleAnim {
    from {
        transform: translate(354px, 831px);
        z-index: 5;
    }

    to {
        transform: translate(354px, 865px);

    }
}